# SIMULINDEX

## Importamos librerías

In [1]:
import pandas as pd
import plotly.express as px
#from meff import obtener_meff_trimestral,obtener_grafico_meff

## Importamos el fichero excel

In [2]:
df_in=pd.read_excel('data.xlsx')
df_in=df_in.set_index('fecha')
df_in

,año,mes,mes_nombre,dia,dia_semana,hora,dh_6p,dh_3p,pmh,ssaa,...,perd_3.0,perd_6.1,pyc_2.0,pyc_3.0,pyc_6.1,precio_2.0,precio_3.0,precio_6.1,demanda_GWh,pvpc
fecha,,,,,,,,,,,,,,,,,,,,,
2024-09-30,2024,9,septiembre,30,lunes,23,P4,P2,125.45,23.73,...,0.157007,0.061851,27.963,10.389,8.037,207.632165,190.518594,173.168936,24.92,NaN
2024-09-30,2024,9,septiembre,30,lunes,22,P4,P2,124.44,17.54,...,0.150176,0.059160,27.963,10.389,8.037,198.190339,181.049615,165.010105,27.55,NaN
2024-09-30,2024,9,septiembre,30,lunes,21,P3,P1,174.50,21.90,...,0.139118,0.054804,76.974,17.361,12.716,309.998895,249.405537,227.349780,30.41,NaN
2024-09-30,2024,9,septiembre,30,lunes,20,P3,P1,176.21,19.26,...,0.140199,0.055230,76.974,17.361,12.716,309.144434,248.549401,226.440328,30.97,NaN
2024-09-30,2024,9,septiembre,30,lunes,19,P3,P1,119.72,30.44,...,0.145677,0.057388,76.974,17.361,12.716,257.501235,196.970851,178.248508,28.76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01,2023,1,enero,1,domingo,4,P6,P3,0.00,37.79,...,0.278267,0.119037,3.175,2.370,1.426,57.258845,56.453845,48.772747,0.00,NaN
2023-01-01,2023,1,enero,1,domingo,3,P6,P3,0.00,36.05,...,0.271627,0.116196,3.175,2.370,1.426,54.732076,53.927076,46.681249,0.00,NaN
2023-01-01,2023,1,enero,1,domingo,2,P6,P3,0.00,36.09,...,0.260780,0.111556,3.175,2.370,1.426,54.343489,53.538489,46.538253,0.00,NaN
2023-01-01,2023,1,enero,1,domingo,1,P6,P3,0.00,24.80,...,0.246510,0.105451,3.175,2.370,1.426,39.480134,38.675134,33.622745,0.00,NaN
2023-01-01,2023,1,enero,1,domingo,0,P6,P3,0.00,24.02,...,0.236678,0.101246,3.175,2.370,1.426,38.214706,37.409706,32.628395,0.00,NaN

In [3]:
df_out=df_in.loc[:,['spot','precio_2.0', 'precio_3.0','precio_6.1']]

df_out

              spot  precio_2.0  precio_3.0  precio_6.1
fecha
2024-09-30  125.45  207.632165  190.518594  173.168936
2024-09-30  124.44  198.190339  181.049615  165.010105
2024-09-30  174.50  309.998895  249.405537  227.349780
2024-09-30  176.21  309.144434  248.549401  226.440328
2024-09-30  119.72  257.501235  196.970851  178.248508
...            ...         ...         ...         ...
2023-01-01    0.00   57.258845   56.453845   48.772747
2023-01-01    0.00   54.732076   53.927076   46.681249
2023-01-01    0.00   54.343489   53.538489   46.538253
2023-01-01    0.00   39.480134   38.675134   33.622745
2023-01-01    0.00   38.214706   37.409706   32.628395

[15341 rows x 4 columns]

In [4]:
df_mes=df_out.resample('M').mean()
df_mes

                  spot  precio_2.0  precio_3.0  precio_6.1
fecha
2023-01-31   69.551734  131.642703  126.626807  109.819928
2023-02-28  133.473006  202.916054  197.791526  174.149437
2023-03-31   89.695626  154.969433  142.647168  125.130917
2023-04-30   73.733375  132.904804  112.226977   99.967205
2023-05-31   74.208293  130.989441  109.110426   98.508308
2023-06-30   93.021694  150.348358  131.464685  119.065985
2023-07-31   90.468763  145.070074  140.008619  124.146280
2023-08-31   96.045659  152.846376  134.543973  121.738624
2023-09-30  103.340444  161.568781  143.504682  130.140648
2023-10-31   89.311944  151.781828  130.943247  118.605020
2023-11-30   63.445639  124.124732  112.413845   98.609306
2023-12-31   72.173992  129.453107  125.050827  108.363788
2024-01-31   74.100094  133.842114  128.530467  110.787221
2024-02-29   39.998966   92.706035   87.174935   73.966807
2024-03-31   20.305209   70.412267   57.780562   49.421435
2024-04-30   13.670042   69.423130   46.721800   41.370121
2024-05-31   30.398602   84.825729   62.778430   56.174211
2024-06-30   56.079778  109.968477   92.595687   83.507348
2024-07-31   72.312836  127.428081  121.802345  107.159749
2024-08-31   91.054328  148.606410  130.961113  118.489305
2024-09-30   72.623319  128.988674  110.772395  100.287316

In [5]:
df_hist=df_mes.tail(12).copy()
df_hist['precio_2.0']=round(df_hist['precio_2.0']/10,1)
df_hist['precio_3.0']=round(df_hist['precio_3.0']/10,1)
df_hist['precio_6.1']=round(df_hist['precio_6.1']/10,1)
df_hist['spot']=round(df_hist['spot'],2)
df_hist

             spot  precio_2.0  precio_3.0  precio_6.1
fecha
2023-10-31  89.31        15.2        13.1        11.9
2023-11-30  63.45        12.4        11.2         9.9
2023-12-31  72.17        12.9        12.5        10.8
2024-01-31  74.10        13.4        12.9        11.1
2024-02-29  40.00         9.3         8.7         7.4
2024-03-31  20.31         7.0         5.8         4.9
2024-04-30  13.67         6.9         4.7         4.1
2024-05-31  30.40         8.5         6.3         5.6
2024-06-30  56.08        11.0         9.3         8.4
2024-07-31  72.31        12.7        12.2        10.7
2024-08-31  91.05        14.9        13.1        11.8
2024-09-30  72.62        12.9        11.1        10.0

In [6]:
def graf_hist(omip):
    colores_precios = {'precio_2.0': 'goldenrod', 'precio_3.0': 'darkred', 'precio_6.1': 'blue'}
    graf_hist=px.scatter(df_hist,x='spot',y=['precio_2.0','precio_3.0','precio_6.1'], trendline='ols',
                labels={'value':'c€/kWh','variable':'Precios s/ ATR','spot':'Precio medio mercado mayorista €/MWh'},
                height=500,
                color_discrete_map=colores_precios
    )
    
    trend_results = px.get_trendline_results(graf_hist)

    #obtención del precio 2.0 simulado a partir del gráfico de tendencia 2.0
    params_20 = trend_results[trend_results['Precios s/ ATR']=='precio_2.0'].px_fit_results.iloc[0].params
    intercept_20, slope_20 = params_20[0], params_20[1]
    simul_20=round(intercept_20+slope_20*omip,1)
                
    #obtención del precio 3.0 simulado a partir del gráfico de tendencia 3.0
    params_30 = trend_results[trend_results['Precios s/ ATR']=='precio_3.0'].px_fit_results.iloc[0].params
    intercept_30, slope_30 = params_30[0], params_30[1]
    simul_30=round(intercept_30+slope_30*omip,1)
    
    #obtención del precio 6.1 simulado a partir del gráfico de tendencia 6.1
    params_61 = trend_results[trend_results['Precios s/ ATR']=='precio_6.1'].px_fit_results.iloc[0].params
    intercept_61, slope_61 = params_61[0], params_61[1]
    simul_61=round(intercept_61+slope_61*omip,1)

    graf_hist.add_scatter(x=[omip],y=[simul_20], mode='markers', 
        marker=dict(color='rgba(255, 255, 255, 0)',size=20, line=dict(width=5, color='goldenrod')),
        name='Simul 2.0',
        text='Simul 2.0'
    )
    graf_hist.add_scatter(x=[omip],y=[simul_30], mode='markers', 
        marker=dict(color='rgba(255, 255, 255, 0)',size=20, line=dict(width=5, color='darkred')),
        name='Simul 3.0',
        text='Simul 3.0'
    )
    graf_hist.add_scatter(x=[omip],y=[simul_61], mode='markers', 
        marker=dict(color='rgba(255, 255, 255, 0)',size=20, line=dict(width=5, color='blue')),
        name='Simul 6.1',
        text='Simul 6.1'
    )
    graf_hist.add_shape(
        type='line',
        x0=omip,
        y0=0,
        x1=omip,
        y1=simul_20,
        line=dict(color='grey', width=1,dash='dash'),
    )
    return graf_hist,simul_20,simul_30,simul_61